# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Othere
*.nuspec
*.vspscc
*.bat
*.nupkg
*.suo
*.vssscc

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon
# bin
bin
# obj
obj

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
